[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
opencv-python = "*"
mediapipe = "*"
fer = "*"
tensorflow = "*"
python-socketio = "*"
flask-socketio = "*"
scikit-learn = "*"
nltk = "*"
xgboost = "*"
numpy = "*"
pandas = "*"
joblib = "*"
textstat = "*"

[dev-packages]

[requires]
python_version = "3.9"
